.ruby-version

config/emacs
config/ghc
config/StardewValley
/config/configstore/
/config/containers/
/config/gh/
/config/git/
/config/jgit/
.aider*
/clojure/tools/
/clojure/.cpcache/
/clojure/.nrepl-port
/.clj-kondo/
/.lsp/
/config/nvim/lazy-lock.json
/config/tmux/plugins/
