.ruby-version
emacs.d/emacs.el
emacs.d/configuration.el
emacs.d/projectile*
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/emojis/*
emacs.d/straight/*
emacs.d/recentf/
emacs.d/transient/
emacs.bak/.cask/
emacs.bak/emacs.el
emacs.bak/auto-save-list/
emacs.bak/projectile*
emacs.bak/session.*
emacs.bak/games/
emacs.bak/recentf
lein/self-installs/
emacs.bak/smex-items
emacs.bak/.*
emacs.bak/elpa/
emacs.bak/tramp
lein/repl-history
sbt/0.13/
sbt/boot/
*~

/emacs.d/var/
/emacs.d/history
