{:aliases
 {:mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"}
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/sha "6e4418ec6d5147bb37c1540787fce8e10c85d479"}}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888}}
  ;; nREPL server for AI to connect to
  :nrepl {:extra-paths ["test"]
          :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
          :jvm-opts ["-Djdk.attach.allowAttachSelf"]
          :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}
